
.system {
    --primary-color: greenyellow;
    --additional-color: black;
}

.tree {
    --primary-color: #814020;
    --additional-color: #989864;
}

.superman {
    --primary-color: #2d5883; 
    --additional-color: #d84958;  
}

.night {
    --primary-color: #bc8b53;
    --additional-color: #192430;
}

.old-paper {
    --additional-color: #d1b794;
    --primary-color: #192430;
}

.newspaper {
    --additional-color: #bababa;
    --primary-color: #383838;
}