
.system {
    --secondary-color: black;
    --primary-color: greenyellow;
    --tertiary: green;
}

.tree {
    --secondary-color: #989864;
    --primary-color: #814020;
    --tertiary: white;
}

.superman {
    --secondary-color: #d84958;
    --primary-color: #2d5883;   
}

.night {
    --secondary-color: #192430;
    --primary-color: #bc8b53;
    /* --tertiary: white; */
}

.old-paper {
    --secondary-color: #d1b794;
    --primary-color: #192430;
    /* --tertiary: white; */
}

.newspaper {
    --secondary-color: #bababa;
    --primary-color: #383838;
    /* --tertiary: white; */
}