.Clock-screen {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.watch-display {
    position: absolute;
    top: 25%;
    left: 0px;
    right: 0px;
    text-align: center;
}

.date-display {
    /* position: absolute;
    top: 75%;
    left: 0px;
    right: 0px; */
    text-align: center;
}

.clock-display {
    position: relative;
    width: 200px;
    height: 200px;
    border: solid 2px var(--primary-color);
    /* margin: auto; */
    border-radius: 50%; 
}

.hand {
    background: maroon;
    height: 2px;
    /* background: var(--primary-color); */
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
}

.hand-hour {
    width: 20%;
}

.hand-min {
    width: 30%;

}

.hand-sec {
    width: 40%;
}