.Clock-screen {
    /* exclude clock's height */
    top: calc(50% - (78px));
    position: absolute;
    width: 100%;
    margin: auto;
}

.watch-display {
    position: relative;
    /* top: 25%; */
    /* top: 100%; */
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 0.75em;
}

.date-display {
    /* position: absolute;
    top: 75%;
    left: 0px;
    right: 0px; */
    text-align: center;
    font-size: 0.75em;
}

.clock-display {
    position: relative;
    /* top: 50%; */
    width: 100px;
    height: 100px;
    border: solid 1px #192430;
    margin: auto;
    border-radius: 50%; 
}

.hand {
    background: maroon;
    height: 1px;
    /* background: #192430; */
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
}

.hand-hour {
    width: 20%;
}

.hand-min {
    width: 30%;

}

.hand-sec {
    width: 40%;
}