.Clock-screen {
    top: calc(50% - 125px);
    position: absolute;
    width: 100%;
    margin: auto;
}

.watch-display {
    position: absolute;
    top: 25%;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 19px;
}

.date-display {
    /* position: absolute;
    top: 75%;
    left: 0px;
    right: 0px; */
    text-align: center;
    font-size: 19px;
}

.clock-display {
    position: relative;
    /* top: 50%; */
    width: 100px;
    height: 100px;
    border: solid 1px #192430;
    margin: auto;
    border-radius: 50%; 
}

.hand {
    background: maroon;
    height: 1px;
    /* background: #192430; */
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
}

.hand-hour {
    width: 20%;
}

.hand-min {
    width: 30%;

}

.hand-sec {
    width: 40%;
}