.App-container {
    box-sizing: border-box;
    padding: 50px;

    background: white;
    position: relative;
    height: 100%;
    overflow: auto;
}

.application-about-article a {
    color: mediumblue;
}

.application-about-article p::before{
    content: ' 🤖 '
}

.social-media {
    width: 48px;
    margin: 10px;
    vertical-align: middle;
}

