.App-container {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    padding: 10px;
    width: 100%;

}

.application-about-article {
    margin: 10px;
    height: 100%;

}

.application-about-article p::before{
    content: ' 🤖 '
}