body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

:root {
  --primary-color: black;
  --additional-color: white;
  background: black;
  font-family: monospace;
  font-size: 1.5em;
}