body {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: #192430;
}

:root {
  --primary-color: #bc8b53;
  --additional-color: white;
  background: #bc8b53;
  font-family: 'Nova Mono', monospace;
  font-size: 1.5em;
}