
.Container {
    position: relative;
    background: black;
    color: yellowgreen;
    height: 100vh;
    min-height: 400px;

}

.main-display {
    position: relative;
    height: calc(100% - 60px - 23px);
}


