
.Container {
    position: relative;
    background: black;
    color: yellowgreen;
    /* height: 100vh; */

}

.main-display {
    position: relative;
    /* height: calc(100% - 100px); */
    min-height: 400px;

}


