
.Container {
    position: relative;
    background: var(--secondary);
    color: var(--primary);
}
/* .Container * {
    background: var(--secondary);
    color: var(--primary);
} */
.main-display {
    position: relative;
    min-height: 400px;
}


