.container-footer {
    width: 100%;
    position: fixed;
    z-index: 99;
    bottom: 0px;
    background-color: #192430;
}

.container-nav {
    text-align: center;
    background-color: #192430;
    width: 100%;
    padding: 0px 0px;
    border: 1px solid #192430; 
    height: 100%;

}

.container-nav-item {
    /* width: 30%; */
    cursor: pointer;
    padding: 0px 21px;
    color: #bc8b53;
    margin: 0px 8px;
    transition: all 0.25s;
    font-size: 1.5em;

}
.container-nav-active {
    color: #192430;
    background: #bc8b53;
    transition: all 0.25s;
}
/* 
.container-nav-active + .Menu-screen {
    background: red;
} */

