.Home-screen, .Menu-screen, .Tasks-screen, .App-screen {
    position: absolute;
    width: 100%;
    background: black;
}

.shortcut {
    display: inline-block;
    text-align: center;
    padding: 10px;
}



.App-screen {
    /* background: black; */
}
