
@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.Home-screen, .Menu-screen, .Tasks-screen, .App-screen {
    position: absolute;
    width: 100%;
    overflow: auto;
    /* height: 100%; */
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #bc8b53;
    /* transition: all 1s; */
    /* opacity: 0; */
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.shortcut {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

